.about-us {
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.about-us article{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.about-us article img{
  width: 40%;
}

.about-us article h2{
  margin-top: 1rem;
  color: #096975;
}

.about-us article p{
  margin-top: 1rem;
  padding: 0 1rem;
  padding-bottom: 2rem;
}

.left-side {
  position: relative;
  right: 15%;
}

.right-side {
  position: relative;
  left: 15%;
}
