nav {
  background-color: #0a6976;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.logo {
  align-items: center;
  color: white;
}

.logo span {
  font-size: 0.8rem;
  vertical-align: text-top;
}

.logo img {
  width: 6rem;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 0 1rem;
}